
.footer-flex{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        }
          
        
.footer-item-flex{
        flex: 0 1 auto;
        }

.smed i {
            color: #87CEEB;
            font-size: 20px;
            margin: 10px;
            padding-top: 10px;
          }
        
.smed i:hover {
            color: white;
          }

img:hover {
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.card-header {
    background-color:#87CEEB;
}

.btn {
    background-color: #87CEEB !important;
}